.split-pane-divider {
    -fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color: #f4f4f4;
    -fx-padding: 5px;
}


.text-area {
    -fx-font-size: 18px;
    -fx-font-family: "monospace";
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}


.error-area {
    -fx-text-fill: red;
    -fx-font-family: "Monospace";
    -fx-font-weight: bold;
}

.button-light-red {
    -fx-background-color: #ffbaba;
}

.button-light-red:hover {
    -fx-background-color: #ff8686;
}

.button-light-yellow {
    -fx-background-color: #f8f8d9;
}

.button-light-yellow:hover {
    -fx-background-color: #f1f195;
}

.button-light-green {
    -fx-background-color: #c6ffc6;
    -fx-font-weight: bold;
}

.button-light-green:hover {
    -fx-background-color: #89ffbb;
}

.tree-item-background {
    -fx-background-color: #b4ffff;
}

.tree-item-background:hover {
    -fx-background-color: #86ffff;
}


